.footer{
    background-color: #111;
    padding-bottom: 48px;
    /* font-size: 0.800rem; */
}

.footer_info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    background-color: #292929;
    color: white;
    padding: 24px;
    font-size: 19px;
}


.footer_social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 18px 0;
}


.footer_social a{
    width: 16px;
    height: 16px;
}


.footer_logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 24px 0 20px;
}


.riot{
    padding-top: 1.2rem;
    width: 100px;
    height: 30px;
    opacity: 0.4;
}

.valorant{
    width: 76px;
    height: 50px;
}

.footer_copyright{
    color: gray;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    margin: 0;
}


.footer_links{
    display: flex;
    gap: 40px;
    justify-content: center;
    color: white;
    list-style: none;
    padding: 24px 0 28px;
    margin: 0;
    font-size: 18px;
}


.footer_links a, .footer_links a:visited{
    color: white;
    text-decoration: none;
}
.footer_classification{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_bgclassification{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    width: 195px;
    height: 124px;
    background-color: #2f2f2f;
    border-radius: 5px;
}

.footer_img_class{
    width: 170px;
    height: 100px;
}
