.header{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #111;
    height: 3rem;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0 1rem 1rem;
}

.menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.list_link a{
    margin-right: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
}


.services{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.button{
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}

.button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.divButton{
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.images{
    align-items: center;
    gap: 20px;
    display: flex;
}


.list_link a:hover{
    color:#ff4655;
}

.input input{
    font-size: 1rem;
    border: 1px solid transparent;
    padding-left: 0.75rem;
    height: 40px;
    margin-right: 20px;
    outline: none;
    background-color: #2d2d2d;
    border-radius: 0.5rem;
    background-color: #464646;
    color: white;
}

.input input:focus {
    border-color: rgb(179, 58, 58);
}