@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.main {
    background-color: #0F1923;
    color: white;
    font-weight: normal;
}

.margins {
    margin-left: 10rem;
    margin-right: 10rem;
}

.breadcrumbs {
    padding-top: 1rem;
    font-size: 1rem;
    color: #666;
}

.breadcrumbs span {
    color: #666;
}

.breadcrumbs span.current {
    color: rgb(236, 232, 225);
}

.breadcrumbs span::after {
    content: " > ";
    color: #666;
}

.breadcrumbs span:last-child::after {
    content: "";
}

.title {
    text-wrap: balance;
    word-break: break-word;
    font-weight: 400;
    font-size: 100px;
    line-height: 95px;
    text-transform: uppercase;
    color: rgb(236, 232, 225);
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.container {
    padding-bottom: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    min-height: 100%;
    flex-direction: row;
    align-items: flex-start;
}

.leftside {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 25rem;
    width: 100%;
    height: auto;
}

.lcard {
    position: relative;
    width: 100%;
    height: auto;
}

.main_pincture {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.subtitle {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    background: #ECE8E1;
    color: #0F1923;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: left;
    box-sizing: border-box;
    font-weight: bold;
    margin-top: 0;
    transform: translateY(50%);
}


.ps {
    margin: 0;
}

.sendcard {
    margin-top: 2rem;
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 100px;
}

.sendcard:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.rightside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem 0;
}

.rcards {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.line_guns {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: #2F2F2F;
    margin: 4px;
}

.text {
    font-size: 1.25rem;
}

.custom_input {
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid transparent;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    outline: none;
    background-color: #2d2d2d;
    border-radius: 0.5rem;
    background-color: #464646;
    color: white;
}

.custom_input::placeholder {
    color: #fff;
    font-size: 0.860rem;
    font-weight: normal;
    opacity: 0.60;
}

.tooltip {
    display: flex;
    justify-items: flex-end;
    flex-direction: row-reverse;
    position: relative;
}

.tp{
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    border-radius: 100px;
    font-size: 0.600rem;
    font-family: 'Arial', sans-serif;
    background-color: #2F2F2F;
    color: white;
    border: 1px solid white; /* Add this line to set the border color to white */
}

.tooltiptext {
    font-family: 'Arial', sans-serif;
    visibility: hidden;
    font-size: 0.775rem;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: relative;
    bottom: 30px;
    left: 10px;
    z-index: 1;
    transform: translateX(10%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tp:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.custom_input:focus {
    border-color: rgb(179, 58, 58);
}

.upload {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    border-radius: 0.75rem;
    background-color: #2F2F2F;
    margin: 0.1px 4px;
}

.form {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    max-width: 316px;
}

.cover {
    margin-bottom: 1rem
}

.cover>*+* {
    margin-top: 0.25rem;
}

.h2 {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 0px;
}

.p {
    font-size: 0.700rem;
    color: #f1f1f1;
    font-weight: lighter;
    margin: 0 0 12px;
    font-family: 'Arial', sans-serif;
    opacity: 0.7;
}

.custom_upload {
    position: relative;
    margin-top: 0.5rem;
    display: flex;
    height: 11rem;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-color: #e5e5e5;
    background-color: #464646;
    transition: all 0.2s;
}

.fupload{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iupload{
    width: 45px;
    height: 45px;
}

.click_here {
    text-align: center;
    font-size: 0.875rem;
    color: #d1d1d1;
    opacity: 0.7;
    font-family: 'Arial', sans-serif;
}

.button {
    border-color: #d1d1d1;
    background-color: #e5e5e5;
    color: #4a4a4a;
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    border: 1px solid;
    font-size: 0.875rem;
    transition: all 0.5s;
}

.button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.alert {
    padding: 0.3rem 0.5rem;
    position: fixed;
    border-radius: 10px;
    top: 95%;
    right: 2%;
    background-color: green;
    animation: slide-in 0.5s ease-in-out;
    font-family: 'Arial', sans-serif;
    font-size: small;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.send {
    font-size: .875rem;
    line-height: 1.25rem;
}

.custom_text_input {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: normal;
}

.custom_text {
    margin-bottom: 0.5rem;
}

.chips_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.chip {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #e0e0e0;
    border-radius: 16px;
    font-size: 0.875rem;
    color: #333;
}